[Unit]
Description=ACPI backlight Daemon
ConditionPathExists=/var/run/acpid.socket
ConditionUser=!root

[Service]
ExecStart=/usr/bin/acpi-backlightd

[Install]
WantedBy=default.target
